canvas{
    position: absolute;
    left: 9%;
    z-index: 0;
    
}

#pongGame {
    background-image: url("/backLogExtras/imagenes/letrajosep.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    position: absolute;
    left: 9%;
    z-index: 1;
    width: 1100px;
    height: 600px;
    background-repeat: no-repeat;
    
}

#player1gana {
    z-index: 2;
    position: absolute;
    left: 9%;
    width: 1100px;
    height: 600px;
}

#player2gana {
    z-index: 2;
    position: absolute;
    left: 9%;
    width: 1100px;
    height: 600px;
}
